# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
# clang-format -style=google -dump-config > /tmp/.clang-format
BasedOnStyle: Google
---
Language: Cpp
Standard: Latest
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup
