[push]
  default = simple
[pull]
  rebase = true
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  pager = delta
[diff]
  tool = vimdiff
  submodule = log
[merge]
  tool = vimdiff
[difftool]
  prompt = true
[alias]
  a = add
  br = branch
  ci = commit
  co = checkout

  d = diff
  dc = diff --cached
  dh = diff HEAD
  dl = diff HEAD~1 HEAD
  dt = difftool
  dtc = difftool --cached
  dth = difftool HEAD
  dtl = difftool HEAD~1 HEAD
  dthh = difftool HEAD~1

  l = log
  lf = ls-files
  mg = merge
  rb = rebase
  rh = reset HEAD
  ro = remote

  sh = stash
  shl = stash list
  shs = stash show -p
  sp = stash pop

  st = status

  pl = pull
  plm = pull origin master
  plo = pull origin
  ps = push
  psm = push origin master
  pso = push origin

  sdiff = !git diff && git submodule foreach 'git diff'
  spush = push --recurse-submodules=on-demand
  supdate = submodule update --remote --merge
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[status]
  submodulesummary = 1
[delta]
  syntax-theme = Solarized (dark)
  side-by-side = true
