[user]
	name = ziv
	email = zivvv0@gmail.com
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[alias]
	c = config
	co = checkout
	br = branch
	ci = commit
	st = status
	l = log -1 HEAD
	pl = pull
	ps = push
	ro = remote
  mg = merge
  po = push origin
  pm = push origin master
  pz = push origin ziv
  d = diff
  dc = diff --cached
  dh = diff HEAD
