[push]
  default = simple
[pull]
  rebase = true
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  pager = delta
[diff]
  tool = vimdiff
  submodule = log
[merge]
  tool = vimdiff
[difftool]
  prompt = true
[alias]
  a = add
  br = branch
  brn = rev-parse --abbrev-ref HEAD
  ci = commit
  co = checkout

  d = diff
  dc = diff --cached
  dh = diff HEAD
  dhh = diff HEAD~1
  dl = diff HEAD~1 HEAD
  dt = difftool
  dtc = difftool --cached
  dth = difftool HEAD
  dthh = difftool HEAD~1

  id = rev-parse --verify HEAD
  l = log
  lf = ls-files
  mg = merge
  rb = rebase
  rh = reset HEAD
  ro = remote

  sh = stash
  shl = stash list
  shs = !git stash show -p stash@{$1} && :
  sp = stash pop

  st = status

  pl = pull
  plm = pull origin master
  plo = pull origin
  ps = push
  psm = push origin master
  pso = push origin

  sdiff = !git diff && git submodule foreach 'git diff'
  spush = push --recurse-submodules=on-demand
  supdate = submodule update --remote --merge

  u = !git co ${1:-master} && git pl && git co - && git rb ${1:-master} && :
  bd = !B=$(git brn) && git co ${1:-master} && git pl && git br -D $B && :
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[status]
  submodulesummary = 1
[delta]
  syntax-theme = Solarized (dark)
  # Wait for auto side-by-side based on width:
  # https://github.com/dandavison/delta/issues/359
  # side-by-side = true
